<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/Data Analysis">Data Analysis</a></li>
	        		<li><a href="/Machine Learning">Machine Learning</a></li>
				<li><a href="/Deep Learning">Deep Learning</a></li>
				<li><a href="/Projects">Projects</a></li>
				<li><a href="/Daily News">Daily News</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:kevchamp333@gmail.com">email</a></li>
	        		<li><a href="https://github.com/kevchamp333">github.com/kevchamp333</a></li>
				</ul>
			</footer>
		</body>
	</html>
